<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<!--hero--add in is-primary l8r------->
<!-- <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1>lorem ipsum</h1>
            </div>
        </div>
    </section> -->

<!--columns/navigation bar------>
<div id="header-container" class="columns">
  <div class="column">
    <div id="navbar-container" class="card">
      <div id="navbar" class="card-content">
        <a class="mx-3" href="/">Home</a>
        <a class="mx-3" href="/profile">User Dashboard</a>
        <a class="mx-3" href="">Wishlist</a>
        <a class="mx-3" href="">Future Releases</a>
      </div>

    </div>
  </div>
  <!--Login/Logout/Sign up-->
  <div>
    <!-- if statement -->
    <a id="login-buttons" class="button mt-5 mx-1">Login</a>
    <a id="login-buttons" class="button mt-5 mx-1">Sign Up</a>
    <!-- else -->
    <a id="login-buttons" class="button mt-5 mx-1">Logout</a>
  </div>
  <!--Logo-->
  <figure id="logo" class="image is-128x128 is-justify-content-right">
    <img src="/public/images/gc-logo.png" alt="logo goes here">
  </figure>
</div>

<!--Search Bar------->
<form id="sb-container" class="box">
  <div class="field is-flex is-three-fifths">
    <div class="control">
      <input class="input" type="search" placeholder="What do you want to play?">
    </div>
    <div>
      <a class="button mx-5">Let's Go</a>
    </div>
  
  