{{!-- main container --}}
<div class='columns is-flex is-justify-content-center is-align-items-center' id='login-page'>
    {{!-- login card --}}
    <div class='column card mx-6 is-one-quarter'>
        <form class='login content'>
            <div class='is-flex is-justify-content-center'>
                <h2>Login</h2>
            </div>
            <div class='field'>
                {{!-- email form --}}
                <div>
                    <label class='ml-5' for='login-username'>Username:</label>
                    <input class='input mb-3 ml-5' id='login-username' autocomplete="off" />
                </div>
                {{!-- password form --}}
                <div>
                    <label class='ml-5' for='login-password'>Password:</label>
                    <input class='input mb-3 ml-5' type='password' id='login-password' autocomplete="off" />
                </div>
                {{!-- login button --}}
                <div class='is-flex is-justify-content-center mt-3'>
                    <button class='button' type="submit" id='login-page-button'>Login</button>
                </div>
            </div>
        </form>
        <div class='is-flex is-justify-content-center mt-3'>
            <a id='create'>
                Don't have a profile? Click here!
            </a>
        </div>
    </div>
</div>


{{!-- pop-up modal to create a user --}}
<div class="modal" id="create-new-user">
    <div class="modal-background" id='create-background'></div>
    <div class="modal-content">
        <div class='column card mx-6'>
            <form class='signup content'>
                <div class='is-flex is-justify-content-center'>
                    <h2>Signup</h2>
                </div>
                <div class='field'>
                    {{!-- Username form --}}
                    <div>
                        <label class='ml-6' for='signup-username'>Username:</label>
                        <div class='control'>
                            <input class='input my-3 ml-6' type='text' id='signup-username' autocomplete="off" />
                        </div>
                    </div>
                    {{!-- password form --}}
                    <div>
                        <label class='ml-6' for='signup-password'>Password:</label>
                        <div class='control'>
                            <input class='input my-3 ml-6' type='password' id='signup-password' autocomplete="off" />
                        </div>
                    </div>
                    {{!-- submit button --}}
                    <div>
                        <div class='control is-flex is-justify-content-center mt-3'>
                            <button class='button' type="submit" id='login-page-button'>Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src='/js/login.js'></script>