{{!-- main container --}}
<div class='columns is-flex is-justify-content-center is-align-items-center' id='login-page'>
    {{!-- login card --}}
    <div class='column card mx-6 is-one-quarter'>
        <form class='login'>
            <h2>Login</h2>
            <div class='field'>
                {{!-- email form --}}
                <div>
                    <label for='login-username'>Username:</label>
                    <input class='input' id='login-username' autocomplete="off" />
                </div>
                {{!-- password form --}}
                <div>
                    <label for='login-password'>Password:</label>
                    <input class='input' type='password' id='login-password' autocomplete="off" />
                </div>
                {{!-- login button --}}
                <div class='is-flex is-justify-content-center mt-3'>
                    <button class='button' type="submit">Login</button>
                </div>
            </div>
        </form>
        <div class='is-flex is-justify-content-center mt-3'>
            <a id='create'>
                create new user
            </a>
        </div>
    </div>
</div>


{{!-- pop-up modal to create a user --}}
<div class="modal" id="create-new-user">
    <div class="modal-background" id='create-background'></div>
    <div class="modal-content">
        <div class='column card mx-6'>
            <form class='signup'>
                <h2>Signup</h2>
                <div class='field'>
                    {{!-- Username form --}}
                    <div>
                        <label for='signup-username'>Username:</label>
                        <div class='control'>
                            <input class='input' type='text' id='signup-username' autocomplete="off" />
                        </div>
                    </div>
                    {{!-- password form --}}
                    <div>
                        <label for='signup-password'>Password:</label>
                        <div class='control'>
                            <input class='input' type='password' id='signup-password' autocomplete="off" />
                        </div>
                    </div>
                    {{!-- submit button --}}
                    <div>
                        <div class='control is-flex is-justify-content-center mt-3'>
                            <button class='button' type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src='/js/login.js'></script>